.nav-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



.nav-item > a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    text-decoration: none;
    font-size: var(--sans-serif-preset-4-size);
    font-weight: var(--sans-serif-preset-4-letter-weight);
    line-height: var(--sans-serif-preset-4-line-height);
    letter-spacing: var(--sans-serif-preset-4-letter-spacing);
    color: var(--text-primary);
    background-color: inherit;
    border: none;
    cursor: pointer;
    /* transition: all 0.3s ease; */
    padding: var(--spacing-100);
    border-radius: var(--radius-8);
}

.nav-item-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.nav-divider{
    border: 1px solid var(--border-secondary);
}

.nav-item-arrow{
    display: none;
}

.nav-item-link.is-active {
    background-color: var(--background-primary);
}

.nav-item-link.is-active .nav-item-arrow{
    display: flex;
}

/* settings section */

.settings-section{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-250);
    padding: var(--spacing-300) var(--spacing-200);
}

.back-btn{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: var(--sans-serif-preset-4-size);
    font-weight: var(--sans-serif-preset-4-letter-weight);
    line-height: var(--sans-serif-preset-4-line-height);
    letter-spacing: var(--sans-serif-preset-4-letter-spacing);
    color: var(--text-secondary);
    background-color: inherit;
    cursor: pointer;
    padding: var(--spacing-100) 0;
    border-radius: var(--radius-8);
}

.section-header > h2{
    font-size: var(--sans-serif-preset-1-size);
    font-weight: var(--sans-serif-preset-1-letter-weight);
    line-height: var(--sans-serif-preset-1-line-height);
    letter-spacing: var(--sans-serif-preset-1-letter-spacing);
    color: var(--text-primary);
    margin-bottom: var(--spacing-050);
}

.section-header > p{
    font-size: var(--sans-serif-preset-5-size);
    font-weight: var(--sans-serif-preset-5-letter-weight);
    line-height: var(--sans-serif-preset-5-line-height);
    letter-spacing: var(--sans-serif-preset-5-letter-spacing);
    color: var(--text-secondary);
}

.color-theme-container, .font-theme-container{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-250);
}

.color-theme-item, .font-theme-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-200);
    padding: var(--spacing-200);
    border-radius: var(--radius-12);
    border: 1px solid var(--border-secondary);
}

.color-theme-content, .font-theme-content{
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
}

.color-theme-icon, .font-theme-icon{
    width: var(--spacing-500);
    height: var(--spacing-500);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-12);
    background-color: var(--background-secondary);
    border: 1px solid var(--border-secondary);
    padding: var(--spacing-100);
}

.color-theme-icon > svg, .font-theme-icon > svg{
    color: var(--text-primary);
}

.color-theme-label h3, .font-theme-label h3{
    font-size: var(--sans-serif-preset-4-size);
    font-weight: var(--sans-serif-preset-4-letter-weight);
    line-height: var(--sans-serif-preset-4-line-height);
    letter-spacing: var(--sans-serif-preset-4-letter-spacing);
    color: var(--text-primary);
    margin-bottom: var(--spacing-050);
}

.color-theme-label .color-theme-text, .font-theme-label .font-theme-text{
    font-size: var(--sans-serif-preset-6-size);
    font-weight: var(--sans-serif-preset-6-letter-weight);
    line-height: var(--sans-serif-preset-6-line-height);
    letter-spacing: var(--sans-serif-preset-6-letter-spacing);
    color: var(--text-secondary);
}

.color-theme-input > input[type="radio"], .font-theme-input > input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: var(--spacing-200);
    height: var(--spacing-200);
    border-radius: var(--radius-12);
    border: 1px solid var(--border-secondary);
    cursor: pointer;
    background: var(--background-secondary);
}

.color-theme-input > input[type="radio"]:checked, .font-theme-input > input[type="radio"]:checked {
    background: radial-gradient(circle, var(--background-secondary) 30%, var(--blue-500) 50%);
}

.color-theme-btn, .font-theme-btn{
    display: flex;
    justify-content: flex-end;
    padding: var(--spacing-200) 0;
}

.color-theme-btn > button, .font-theme-btn > button, .save-password-btn > button {
    width: 100%;
    max-width: 132px;
    padding: var(--spacing-150) var(--spacing-200);
    background-color: var(--blue-500);
    border: none;
    border-radius: var(--radius-8);
    font-family: inherit;
    color: var(--btn-textWhite);
    font-size: var(--sans-serif-preset-4-size);
    font-weight: var(--sans-serif-preset-4-letter-weight);
    line-height: var(--sans-serif-preset-4-line-height);
    letter-spacing: var(--sans-serif-preset-4-letter-spacing);
    cursor: pointer;
    transition: all 0.3s ease;
}


.change-passwd-form{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-250);
}

.change-passwd-form .form-group{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
    position: relative;
}


.form-group label{
    font-size: var(--sans-serif-preset-4-size);
    font-weight: var(--sans-serif-preset-4-letter-weight);
    line-height: var(--sans-serif-preset-4-line-height);
    letter-spacing: var(--sans-serif-preset-4-letter-spacing);
    color: var(--text-primary);
}

.form-group > input{
    width: 100%;
    padding: var(--spacing-100) var(--spacing-200);
    border-radius: var(--radius-8);
    border: 1px solid var(--border-secondary);
    background-color: var(--background-secodary);
    color: var(--text-primary);
    font-size: var(--sans-serif-preset-4-size);
    font-weight: var(--sans-serif-preset-4-letter-weight);
    line-height: var(--sans-serif-preset-4-line-height);
    letter-spacing: var(--sans-serif-preset-4-letter-spacing);
    font-family: inherit;
    cursor: pointer;
    transition: all 0.3s ease;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: textfield;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    -ms-appearance: textfield;
    -o-appearance: textfield;
}

.show-password-toggle{
    position: absolute;
    right: var(--spacing-200);
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: transparent;
    border: none;
    z-index: 1;
}