@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* general styling */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* static fonts */
@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/static/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/static/Inter_18pt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/static/Inter_18pt-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/static/Inter_18pt-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* variable fonts */
@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}


/* style guide */
:root{
    /* typography */
    --sans-serif-preset-1-size: 1.5rem;
    --sans-serif-preset-1-line-height: 1.2;
    --sans-serif-preset-1-letter-spacing: -0.03125rem;
    --sans-serif-preset-1-letter-weight: 700;
    
    --sans-serif-preset-2-size: 1.25rem;
    --sans-serif-preset-2-line-height: 1.2;
    --sans-serif-preset-2-letter-spacing: -0.03125rem;
    --sans-serif-preset-2-letter-weight: 700;

    --sans-serif-preset-3-size: 1rem;
    --sans-serif-preset-3-line-height: 1.2;
    --sans-serif-preset-3-letter-spacing: -0.01875rem;
    --sans-serif-preset-3-letter-weight: 700;

    --sans-serif-preset-4-size: 0.875rem;
    --sans-serif-preset-4-line-height: 1.2;
    --sans-serif-preset-4-letter-spacing: -0.0125rem;
    --sans-serif-preset-4-letter-weight: 500;

    --sans-serif-preset-5-size: 0.875rem;
    --sans-serif-preset-5-line-height: 1.2;
    --sans-serif-preset-5-letter-spacing: -0.0125rem;
    --sans-serif-preset-5-letter-weight: 400;

    --sans-serif-preset-6-size: 0.75rem;
    --sans-serif-preset-6-line-height: 1.2;
    --sans-serif-preset-6-letter-spacing: -0.0125rem;
    --sans-serif-preset-6-letter-weight: 400;

    --logo-font: 'Pacifico';


    /* spacing */
    --spacing-0 : 0;
    --spacing-025: 0.125rem; /* 2px */
    --spacing-050: 0.25rem; /* 4px */   
    --spacing-075: 0.375rem; /* 6px */
    --spacing-100: 0.5rem; /* 8px */
    --spacing-150: 0.75rem;
    --spacing-200: 1rem;  /* 16px */
    --spacing-250: 1.25rem; /* 20px */
    --spacing-300: 1.5rem; /* 24px */
    --spacing-400: 2rem;  /* 32px */
    --spacing-500: 2.5rem; /* 40px */
    --spacing-600: 3rem;  /* 48px */
    --spacing-800: 4rem;  /* 64px */
    --spacing-1000: 5rem; /* 80px */

    /* radius */
    --radius-0:0;
    --radius-4: 0.25rem;
    --radius-6: 0.375rem;
    --radius-8: 0.5rem;
    --radius-10: 0.625rem;
    --radius-12: 0.75rem;
    --radius-16: 1rem;
    --radius-20: 1.25rem;
    --radius-24: 1.5rem;
    --radius-full: 62.4375rem;

    /* shadows */
    --shadow-sm: 0 1px 0 0 0 var(--border-primary);
    --shadow-lg: 0 0 10px 1px 1px var(--border-primary);


    /* colors */
    --neutral-0: #ffffff;
    --neutral-50: #f5f7fa;
    --neutral-100: #f3f5f8;
    --neutral-200: #e0e4ea;
    --neutral-300: #cacfd8;
    --neutral-400: #99a0ae;
    --neutral-500: #717784;
    --neutral-600: #525866;
    --neutral-700: #2b303b;
    --neutral-800: #232530;
    --neutral-900: #191b25;
    --neutral-950: #0e1218;

    --blue-50: #ebf1ff;
    --blue-500: #335cff;
    --blue-700: #2547d0;

    --green-100: #d1fbe9;
    --green-500: #21c16b;

    --red-100: #ffd5d8;
    --red-500: #fb3748;


    --background-color: var(--neutral-100);
    --secondary-bg: var(--neutral-0);

    --text-primary: var(--neutral-950);
    --text-secondary: var(--neutral-600);

    --btn-textColor: var(--neutral-0);
    

    --border-primary: var(--neutral-300);
    --border-secondary: var(--neutral-200);

    --icon-borderColor: var(--neutral-600);
}


html{
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

@supports (font-variation-settings: normal){
    html{
        font-family: 'Inter';
    }
}

body{
    background-color: var(--background-color);
    color: var(--text-primary);
}


h1, h2, h3, h4, h5, h6{
    font-family: 'Inter', sans-serif;
    color: var(--text-primary);
}

input, button {
    font-family: inherit;
}

button{
    font-size: var(--sans-serif-preset-3-size);
    font-weight: 500;
    line-height: var(--sans-serif-preset-3-line-height);
    letter-spacing: var(--sans-serif-preset-3-letter-spacing);
}


.app-layout {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 54px 1fr 56px;
    min-height: 100vh;
    max-width: 100%;
}


/* authentication layout */
.auth-layout{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    min-height: 100vh;
    padding: 0.625rem 1rem;
    gap: 0.625rem;
    position: relative;
}

/* header styling */
.app-header{
    grid-column: 1 / span 12;
    height: 3.375rem;
    display: flex;
    padding: 0.75rem 1rem;
    /* background-color: green; */
}

.app-logo{
    font-family: var(--logo-font);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: inherit;
    border: none;
    margin: auto 0;
    color: var(--text-primary);
}

/* header styling ends here */

/* main styling starts here */
.app-main{
    grid-column: 1 / span 12;
    background-color: var(--secondary-bg);
    padding: 1rem 1rem 0;
    border-top-left-radius: var(--radius-8);
    border-top-right-radius: var(--radius-8);
}

.app-menu{
    grid-column: 1 / span 12;
    max-width: 100%;
    background-color: var(--secondary-bg);
    border-top: 1px solid var(--border-secondary);
    box-shadow: var(--shadow-sm);
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}


.app-main-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    min-height: 100%;
}

.content{
    padding: var(--spacing-100);
    background-color: var(--secondary-bg);
    border-radius: var(--radius-8);
    box-shadow: var(--shadow-lg);
    border: 1px solid var(--border-secondary);
}

.content p{
    font-size: var(--sans-serif-preset-5-size);
    line-height: var(--sans-serif-preset-5-line-height);
    font-weight: var(--sans-serif-preset-5-letter-weight);
    letter-spacing: var(--sans-serif-preset-5-letter-spacing);
    color: var(--text-primary);
}

.addNote-btn{
    position: absolute;
    min-width: 3rem;
    min-height: 3rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-lg);
    border-radius: var(--radius-full);
    background-color: var(--blue-500);
    bottom: 2rem;
    right: 0;
    cursor: pointer;
}

/* main styling ends here */


/* aside styling */
.desktop-only{
    display: none;
}

.tablet-only{
    display: none;
}

.menu-nav{
    padding: 0.75rem 1rem;
    max-width: 100%;
}

.menu-list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.menu-list .menu-item{
    /* display: inline-block; */
    padding: 0 0.25rem;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-item > a{
    text-decoration: none;
    color: var(--icon-borderColor);
    cursor: pointer;
    text-align: center;
}

/* aside styling ends here */


.dark{
    --background-color: var(--neutral-950);
    --text-primary: var(--neutral-0);
}





/* prefers dark theme */
/* @media (prefers-color-scheme: dark){
    :root{
        --background-color: var(--neutral-700);
        --secondary-bg: var(--neutral-950);

    
        --text-primary: var(--neutral-0);
        --text-secondary: var(--neutral-600);
        
    
        --border-primary: var(--neutral-600);
        --border-secondary: var(--neutral-800);

        --icon-borderColor: var(--neutral-400);
    }
}  */


@media only screen and (min-width: 768px){
   .app-header{
        grid-column: 1 / span 12;
        grid-row: 1;
   }

   .app-main{
        grid-column: 1 / span 12;
        grid-row: 2;
   }

   .app-menu{
        grid-column: 1 / span 12;
        grid-row: 3;
   }

   .tablet-only{
        display: block;
        font-size: var(--sans-serif-preset-6-size);
   }
}

@media only screen and (min-width: 1024px){
    .app-layout{
        grid-template-columns: 240px 1fr;
        grid-template-rows: 54px 1fr;
    }

    .app-header{
        grid-column: 1 / span 1;
        grid-row: 1 / 2;
    }

    .app-main{
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
    }

    .app-menu {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        max-width: 240px;
        height: auto;
        border-top: none;
        position: fixed;
        left: 0;
        top: 54px;
    }

    .menu-list .menu-item.mobile-tablet-only{
        display: none;
    }

    .menu-list .menu-item.tablet-only{
        display: none;
    }

    .menu-list .menu-item.desktop-only{
        display: block;
    }
    
    .menu-list{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
    }


    .menu-list .menu-item{
        padding: 0 0.25rem;
        width: 100%;
    }

    .menu-item > a{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }

}
